* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    color: #333;
}

.sidebar {
    width: 250px;
    background-color: #F8F9FA;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 100px;
    border-radius: 50%;
}

nav .nav-item {
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
    padding: 10px, 15px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0n, 0, 0.1);
    transition: backround-color 0.3s ease;
}

nav .nav-item:hover {
    background-color: #ffffff;
}

nav .nav-item:active {
    background-color: #ffffff;
}

nav .nav-item div {
    width: 20px; 
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    align-items: center;
    border-radius: 5px;
}

nav .nav-item div:hover {
    color: #ffffff;
}

#icon-home {
    width: 16px;
    height: 16px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

nav a {
    display: block;
    padding: 10px 0;
    color: #A0AEC0;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    flex: 1;
}

nav a.active {
    color: #2a663c;
}

.help {
    background-color: #344e41;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
}

.help button {
    background-color: #fff;
    color: #2a663c;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search a {
    text-decoration: none;
    color: #2D3748;
}

.tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.tabs button {
    font-family: "Outfit", serif;
    font-weight: 600;
    width: 150px;
    margin: 0px;
    padding: 10px 30px;
    background-color: rgba(218, 215, 205, 0.6);
    color: #344E41;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tabs button.active {
    background: rgba(163, 177, 138, 0.6);
    color: #2D3748;
}

.personal h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

table .personal-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.estatus {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
}

.estatus.activo {
    background-color: #588157;
    color: white;
}

.estatus.inactivo {
    background-color: #b0b0b0;
    color: white;
}

.editar a {
    text-decoration: none;
    color: #344E41;
}

footer {
    text-align: center;
    margin-top: 230px;
    font-size: 14px;
    color: #999;
}

footer div a {
    color: #2a663c;
    text-decoration: none;
    margin: 0 5px;
}