<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {%load static%}

    <link rel="stylesheet" href="{%static 'mainapp/css/login.css' %}">
    

</head>
<body>

    {% comment %} <script src = "{%static 'mainapp/JS/login.js' %}"></script> {% endcomment %}

    <h1>Hola mundo</h1>
    
    <script>
        alert('Esta pagina es desconocida, parece que has perdido, te mandaremos de regreso al inicio ──★ ˙  !!');
        location.href='{% url "login" %}'
    </script> 
    {% comment %} puse esto acá para hacer pruebas {% endcomment %}


</body>
</html>