<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="../static/mainapp/css/loginn.css">
</head>
<body>
    <div class="contenedor">
        <div class="inicio">
            <form method='POST'>
                {% csrf_token %}
                <h1>Login</h1>
                <p>Ingresa tu usuario y contraseña para acceder</p>

                {{ form.as_p }}

                <button type="submit">Iniciar sesión</button>
                {% if messages %}

                    <div class="messages">
                        {% for message in messages %}
                            <p class=""> {{ message }}</p>
                        {% endfor %}
                    </div>

                {% endif %}
            </form>
            
        </div>
        <div class="img_tnt">
            <img src="../static/mainapp/img/otros/Tnt_reciclajes.jpg" alt="Logo TNT" class="img_tnt">
        </div>
    </div>
</body>
</html>
