{% extends "layouts/blocks.html" %}

{% block title %}
    {{title}}    
{% endblock title %}


{% block section %}
    <h1>{{section}}</h1>
{% endblock section %}


{% block subsection %}
    <h2>{{subsection}}</h2>
{% endblock subsection %}

{% block botones %}
    {% comment %} <button class="btns" id="filter-btn">Filter</button> {% endcomment %}
        {% comment %} <button class="btns" id="add-btn">Añadir</button> {% endcomment %}
    <form method="POST" action="{% url 'cortar' %}">
        {% csrf_token %}
        <!-- Formulario con el campo de fecha visible -->
        <label for="report_date">Selecciona la fecha:</label>
        <input type="date" id="report_date" name="report_date" required>
    
        <!-- Botón para generar el reporte -->
        <button type="submit" id="add-btn">Generar Reporte</button>
    </form>
{% endblock botones %}


{% block content_box %}
{% comment %} {% csrf_token %} {% endcomment %}

{% comment %} <form method="GET" action="">
    <div class="search">
        <input type="text" name="search" placeholder="Buscar..." value="{{ search_query }}">
        <button type="submit">Buscar</button>
    </div>
</form> {% endcomment %}

<div class="transactions-container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>N.</th>
                    <th>Fecha de Inicio</th>
                    <th>Saldo Inicial</th>
                    <th>Ingresos</th>
                    <th>Egresos</th>
                    <th>Saldo Final</th>
                </tr>
            </thead>
            <tbody>
                {% for report in entity %}
                    <tr>
                        <td>{{ report.id }}</td>
                        <td>{{ report.Day|date:"d/m/Y" }}</td>
                        <td>${{ report.Initial_Money }}</td>
                        <td>${{ report.Obtained }}</td>
                        <td>${{ report.Spent }}</td>
                        <td>${{ report.Final_Money }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No hay transacciones disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div>
    {% include "paginator.html" %}
</div>
{% endblock content_box %}




