{% extends "layouts/blocks.html" %}

{% block title %}
    {{title}}    
{% endblock title %}


{% block section %}
<h1>Panel de Control</h1>
<h1>{{section}}</h1>
{% endblock section %}


{% block buscador %}
<span>{% now "Y-m-d H:i" %} </span>
{% endblock buscador %}


{% block subsection %}
    <h2>{{subsection}}</h2>
{% endblock subsection %}


{% block botones %}
    <button class="btns" id="filter-btn">Filter</button>
    <button class="btns" id="add-btn">Añadir</button>
{% endblock botones %}



{% block content_box %}
<h2>Lista de materiales</h2>
<form method="GET" action="">
    <div class="search">
        <input type="text" name="search" placeholder="Buscar..." value="{{ search_query }}">
        <a href="#"><div class="icon-user">buscador</div></a>
    </div>
</form>
<div class="cuerpo">
    {% if page_obj %}
        <table>
            <thead class="tablas">
                <tr class="tablas">
                    <th>Material</th>
                    <th>Tipo de Material</th>
                    <th>Precio Compra (Mayoreo)</th>
                    <th>Precio Venta (Mayoreo)</th>
                    <th>Precio Compra (Menudeo)</th>
                    <th>Precio Venta (Menudeo)</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for material in page_obj %}
                    <tr>
                        <td>
                            {% if material.image %}
                                <img id="imagen" src="{{ material.image.url }}" alt="{{ material.Material_Type }}" width="100">
                            {% else %}
                                Sin imagen
                            {% endif %}
                        </td>
                        <td>{{ material.Material_Type }}</td>
                        <td>${{ material.Wholesale_Purchase_Price }}</td>
                        <td>${{ material.Wholesale_Sale_Price }}</td>
                        <td>${{ material.Retail_Purchase_Price }}</td>
                        <td>${{ material.Retail_Sale_Price }}</td>
                        <td>
                            <a href="{% url "editar_material" material.pk %}">
                                <img class="lapiz" src="/static/panel_control/img/lapices.png" alt="lapiz">
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">No hay materiales registrados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Paginación que pidio michelle-->
        <!--es un dolor de cabeza pero funciona necesitan aplicarla para tambien al usar el buscador aparesca-->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primera</a>
                    <a href="?page={{ page_obj.previous_page_number }}"> -  Anterior  -  </a>
                {% endif %}
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">-  Siguiente  -</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No hay materiales registrados.</p>
    {% endif %}
</div>
{% endblock content_box %}


{% comment %} <!--ESTO ES PARA CARGAR LA PLANTILLA-->
{% extends 'base2.html' %}
<!--CARGAR LOS ARCHIVOS DE LA CARPETA STATIC DONDE ESTAN LOS CSS ETC..-->
{% load static %}
<!--TITULO DE LA VENTANA-->
{% block title %} Panel  {% endblock %}
<!--ESTE ES SU HEAD DE HTML PEUDEN METER LO MISMO QUE EN EL NORMAL-->
{% block head %}
    <link rel="stylesheet" href="{% static 'panel_control/css/panel.css' %}">
    <script src="{% static 'main_app/java_script/resto de la ruta' %}"></script>
{% endblock %}
<!--AQUI EMPIEZA EL BODY-->
{% block body %}commpra_venta{% endblock %}

<!--CONTENEDORES ARRIBA-->
{% block content_top_1 %}
<div>
    <img class="logo" src="{% static "panel_control/img/tnt_logo.jpg" %}" alt="Imagen tnt">
</div>
{% endblock %}
{% block content_top_2 %}
<div>
    <h2>Panel de control</h2>
    <div class="pestañas">
        <button><a href="{% url "materiales" %}">Materiales</a></button>
        <button><a href="{% url "transacciones" %}">Transacciones</a></button>
        <button><a href="{% url "personal" %}">Empleados</a></button>
        <button><a href="{% url "cortes" %}">Cortes</a></button>
    </div>
</div>
{% endblock %}
{% block content_top_3 %}
<div>
    <h2>Block content top_3</h2>
</div>
{% endblock %}
<!--CONTENEDORES ABAJO-->

{% block content_1 %}
        <h2>mermelada</h2>
{% endblock %}

{% block content_2 %}
    <h2>Pan con leche</h2>
{% endblock %} {% endcomment %}