<style>
    .pagination {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 20px;
    }
    .pagination .page-item {
        list-style: none;
    }
    .pagination .page-link {
        background-color: #f8f9fa ;
        color: #344E41;
        border-radius: 12px;
        border: none;
        padding: 8px 12px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        font-family: "Outfit", serif;
    }
    .pagination .page-link:hover {
        background-color: #A3B18A; 
        color: #2D3748; 
    }
    .pagination .page-item.active .page-link {
        background-color:  rgba(163, 177, 138, 0.6);
        color: #2D3748;
    }
    .pagination .page-item.disabled .page-link {
        color: #aaa;
        cursor: not-allowed;
        background-color: #f8f9fa;
    }
</style>
{% if paginator.num_pages > 1 %}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if entity.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ entity.previous_page_number }}#pagtable">Anterior</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
            {% if page == entity.number %}
                <li class="page-item active"><a class="page-link" href="?page={{ page }}#pagtable">{{ page }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}#pagtable">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if entity.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ entity.next_page_number }}#pagtable">Siguiente</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
