{% extends "base2.html" %}

{% block title %}
    {{title}}    
{% endblock title %}


{% block section %}
<h1>{{section}}</h1>
{% endblock section %}


{% block subsection %}
    <h2>{{subsection}}</h2>
{% endblock subsection %}

{% block content_box %}

{% if materials %}
        <table>
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Tipo de Material</th>
                    <th>Precio Compra (Mayoreo)</th>
                    <th>Precio Venta (Mayoreo)</th>
                    <th>Precio Compra (Menudeo)</th>
                    <th>Precio Venta (Menudeo)</th>
                    <th>editar</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materials %}
                    <tr>
                        <td>
                            {% if material.image %}
                                <img id="imagen" src="{{ material.image.url }}" alt="{{ material.Material_Type }}" width="100">
                            {% else %}
                                Sin imagen
                            {% endif %}
                        </td>
                        <td>{{ material.Material_Type }}</td>
                        <td>${{ material.Wholesale_Purchase_Price }}</td>
                        <td>${{ material.Wholesale_Sale_Price }}</td>
                        <td>${{ material.Retail_Purchase_Price }}</td>
                        <td>${{ material.Retail_Sale_Price }}</td>
                        <td>
                            <a href=""><img class="lapiz" src="/static/panel_control/img/lapices.png" alt="lapiz"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay materiales registrados.</p>
    {% endif %}
{% endblock content_box %}
