{% extends "layouts/blocks.html" %}

{% block title %}
    {{title}}    
{% endblock title %}


{% block section %}
<h1>{{section}}</h1>
{% endblock section %}


{% block buscador %}

{% endblock buscador %}


{% block subsection %}
    <h2>{{subsection}}</h2>
{% endblock subsection %}


{% block botones %}
    <button class="btns" id="filter-btn">Filter</button>
    <button class="btns" id="add-btn" onclick="window.location.href='{% url 'crear_us' %}'">Añadir</button>
{% endblock botones %}


{% block content_box %}
{% csrf_token %}
<form method="GET" action="">
    <div class="search">
        <input type="text" name="search" placeholder="Buscar..." value="{{ search_query }}">
        <button type="submit">Buscar</button>
    </div>
</form>

<div class="transactions-container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>N.</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Nombre Completo</th>
                    <th>Estado</th>
                    <th>Teléfono</th>
                    <th>Fecha de Registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in entity %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.Name }} {{ user.Paternal_Surname }} {{ user.Maternal_Surname }}</td>
                        <td>
                            <span class="status {% if user.is_active %}online{% else %}offline{% endif %}">
                                {% if user.is_active %}Activo{% else %}Inactivo{% endif %}
                            </span>
                        </td>
                        <td>{{ user.Phone }}</td>
                        <td>{{ user.date_joined|date:"d/m/Y" }}</td>
                        <td>
                            <button class="edit-btn" onclick="window.location.href='{% url 'editar_personal' user.pk %}'">Editar</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No hay usuarios disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div>
    {% include "paginator.html" %}
</div>
{% endblock content_box %}


