{% extends "layouts/blocks.html" %}

{% block title %}
    {{title}}    
{% endblock title %}


{% block section %}
<h1>{{section}}</h1>
{% endblock section %}


{% block subsection %}
    <h2>{{subsection}}</h2>
{% endblock subsection %}

{% block botones %}
    <button class="btns" id="filter-btn">Filter</button>
{% endblock botones %}


{% block content_box %}
{% csrf_token %}
<form method="GET" action="">
    <div class="search">
        <input type="text" name="search" placeholder="Buscar..." value="{{ search_query }}">
        <button type="submit">Buscar</button>
    </div>
</form>
<div class="transactions-container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>N.</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in entity %}
                    <tr>
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.get_Transaction_Type_display }}</td>
                        <td>${{ transaction.Total }}</td>
                        <td>{{ transaction.Description }}</td>
                        <td>{{ transaction.Date|date:"d/m/Y" }}</td>
                        <td>
                            <span class="{% if transaction.Status == 'COMPLETED' %}text-success{% elif transaction.Status == 'PENDING' %}text-warning{% else %}text-danger{% endif %}">
                                {{ transaction.get_Status_display }}
                            </span>
                        </td>
                        <td>
                            <button class="edit-btn" onclick="window.location.href='{% url 'editar_transaccion' transaction.pk %}'">Editar</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No hay transacciones disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div>
    {% include "paginator.html" %}
</div>
{% endblock content_box %}