<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main_app/static/main_app/css/Compra_ventas/compra_venta.css">
</head>
<body>
    

    <h1>hola</h1>

    <!--Aqui estan las ventanas modales para compra y venta-->
    <!-- Botón para abrir el modal -->
    <button id="boton_modal">Comprar</button>

    <!-- Ventana Modal 1 -->
    <div id="modal1" class="modal">
        <div class="contenido_modal">
            <h2>¿Estas Seguro?</h2>
            <button class="accion_boton" id="confirmar">Realizar Compra</button>
            <button class="boton_cancelar" id="cerrar_vent_modal">Cancelar</button>
        </div>
    </div>

    <!-- Ventana Modal 2 (Compra Exitosa)    -->
    <div id="modal2" class="modal">
        <div class="contenido_modal">
            <h2>Compra Registrada con Éxito</h2>
            <button class="accion_boton" id="boton_regresar">Regresar</button>
        </div>
    </div>

    <script src="/main_app/static/main_app/java_script/Vent_Modal.js"></script>
</body>
</html>