<!--ESTO ES PARA CARGAR LA PLANTILLA-->
{% extends 'base.html' %}


<!--CARGAR LOS ARCHIVOS DE LA CARPETA STATIC DONDE ESTAN LOS CSS ETC..-->
{% load static %}

<!--TITULO DE LA VENTANA-->
{% block title %} Compra/Venta {% endblock %}

<!--ESTE ES SU HEAD DE HTML PEUDEN METER LO MISMO QUE EN EL NORMAL-->
{% block head %}

    <link rel="stylesheet" href="{% static 'main_app/css/compra_venta/compra_venta.css' %}">
    <script src="{% static 'main_app/java_script/compra_venta/compra_venta.js' %}"></script>

{% endblock %}


<!--AQUI EMPIEZA EL BODY-->
{% block body %}cv{% endblock %}

<!--_______________CONTENEDORES ARRIBA___________________-->

{% block content_top_1 %}
<div>
    <h2>Bloock content top_1</h2>
</div>
{% endblock %}



{% block content_top_2 %}
<div>
    <h2>block content top_2</h2>
</div>
{% endblock %}



{% block content_top_3 %}
<div>
    <h2>Block content top_3</h2>
</div>
{% endblock %}

<!--_______________CONTENEDORES ABAJO___________________-->

{% block content_1 %}
        <h2>mermelada</h2>
{% endblock %}

{% block content_2 %}
    <h2>Pan con leche</h2>
{% endblock %}