{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Compra venta</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'panel_control/css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'panel_control/css/personal.css' %}">
    <link rel="stylesheet" href="{% static 'appcompra/css/compra.css' %}">
    
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
    <!-- Variables de JavaScript -->
    <script type="text/javascript">
        const csrftoken = "{{ csrf_token }}";
        const realizarCompraUrl = "{% url 'realizar_compra' %}";
    </script>
    
    <!-- JS -->
    <script src="{% static 'appcompra/js/prueba.js' %}" defer></script>
</head>

<body>
    <!-- Tu código existente -->

    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'panel_control/img/tnt_logo.jpg' %}">
        </div>

        <nav>
            <div class="nav-item">
                <div class="icon-home"></div>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </div>
            <div class="nav-item">
                <div class="icon-banknote"></div>
                <a href="{% url 'cv' %}" class="active">Compra - venta</a>
            </div>
            <div class="nav-item">
                <div class="icon-credit-card"></div>
                <a href="{% url 'ajustes_1' %}">Gastos del dia</a>
            </div>
            {% if user.is_superuser %}
            <div class="nav-item">
                <div class="icon-cog"></div>
                <a href="{% url 'materiales' %}">Panel de Control</a>
            </div>
            {% endif %}
        </nav>

        <div class="help">
            <p>¿Necesitas ayuda?<br>Revisa la documentación</p>
            <button>DOCUMENTACIÓN</button>
        </div>
    </div>

    <div class="hidden">
        <div class="centrado" id="cargando">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div> 
        <div class="main-content">
            <div id="cabecera">
                <header>
                    <div id="titulo_c"><h1>Compra venta</h1></div>
                    <div id="dinero_caja">
                        <div id="dinero_caja_fondo">
                            <p>{{ today }}</p>
                        </div>
                    </div>
                </header>
            </div>

            <div class="container">
                <div id="c_main">
                    <table class="materiales">
                        <tr id="top_tr">
                            <th>Material</th>
                            <th></th>
                            <th>Seleccionar</th>
                        </tr>
                        {% for material in show_page %}
                        <tr>
                            <td id="nombre">{{ material.Material_Type }}</td>
                            <td>
                                {% if material.image %}
                                <img class="imagen" src="{{ material.image.url }}" alt="{{ material.Material_Type }}" width="100" height="100">
                                {% else %}
                                    <p>No hay</p>
                                {% endif %}
                            </td>
                            <td class="cajitas">
                                <label class="check">
                                    <input type="checkbox" class="cajita" 
                                        data-material="{{ material.id }}"
                                        data-material-name="{{ material.Material_Type }}"
                                        data-wholesale_purchase_price="{{ material.Wholesale_Purchase_Price }}"
                                        data-retail_purchase_price="{{ material.Retail_Purchase_Price }}"
                                        data-wholesale_sale_price="{{ material.Wholesale_Sale_Price }}"
                                        data-retail_sale_price="{{ material.Retail_Sale_Price }}"
                                        {% if material.image %}
                                        data-image="{{ material.image.url }}"
                                        {% else %}
                                        data-image=""
                                        {% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" id="lineas_m">
                                <hr>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
        <!--__________________________CONTROL DE LA PAGINACION_________________________________________________-->
        <div class="pagination">
            <span class="step-links">
                {% if show_page.has_previous %}
                    <a href="?page={{ show_page.previous_page_number }}" class="page-link">Anterior</a>
                {% endif %}

                {% for page_num in show_page.paginator.page_range %}
                    {% if page_num == show_page.number %}
                        <span class="current page-link active">
                            {{ page_num }}
                        </span>
                    {% else %}
                        <a class="page-link" href="?page={{ page_num }}">
                            {{ page_num }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if show_page.has_next %}
                    <a class="page-link" href="?page={{ show_page.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>


                    <!-- Paginación -->

                </div>

                <div class="c_second">
                    <div class="top_calculadora">
                        <div id="text_calculadora">
                            <h2>Calculadora</h2>
                        </div>

                        <div id="nothing_calculadora">
                        </div>

                        <div id="opcion_calculadora">
                            <div>
                                <select id="tipo_operacion" name="tipo_operacion">
                                    <option value="" disabled selected>Operacion</option>
                                    <option value="compra">Compra</option>
                                    <option value="venta">Venta</option>
                                </select>
                            </div>

                            <div>
                                <select id="tipo_cargo" name="tipo_cargo">
                                    <option value="" disabled selected>Tipo Precio</option>
                                    <option value="Wholesale_Purchase_Price">Precio Mayoreo</option>
                                    <option value="Retail_Purchase_Price">Precio Menudeo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="material_comprar">
                        <h3>Materiales Seleccionados</h3>
                        <ul id="lista_material_comprar"></ul>
                    </div>

                    <div class="extras">
                        <div class="descuento">
                            <h2>Descuento</h2>
                            <input type="number" id="discount" min="0" step="10">
                            <small id="discount_error" style="color: red;"></small>
                        </div>

                        <div class="extra">
                            <h2>Cargo Extra</h2>
                            <input type="number" id="extra_charge" min="0" step="10">
                        </div>
                    </div>

                    <div class="final">
                        <div id="final_texto">
                            <textarea placeholder="Añadir descripción de compra"></textarea>
                        </div>

                        <div id="final_monto">
                            <h3>Total Compra</h3>
                            <br>
                            <h4 id="total_general">0 MXN</h4>
                        </div>

                        <div id="final_btn">
                            <button type="button" id="realizar_compra" disabled>Realizar Compra</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{% static 'appcompra/js/carga.js' %}" defer></script>
</body>
</html>

