{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Compra venta</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'panel_control/css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'panel_control/css/personal.css' %}">
    <link rel="stylesheet" href="{% static 'appcompra/css/compra.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
    
    
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    
    <!-- JS -->
    <script src="{% static 'appcompra/js/prueba.js' %}" defer></script>
</head>

<body class="hidden">
    <div class="centrado" id="cargando">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> 
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'panel_control/img/tnt_logo.jpg' %}">
        </div>

        <nav>
            <div class="nav-item">
                <div class="icon-home"></div>
                <a href="{% url 'dashboard' %}" class="active">Dashboard</a>
            </div>
            <div class="nav-item">
                <div class="icon-banknote"></div>
                <a href="{% url 'cv' %}">Compra - venta</a>
            </div>
            <div class="nav-item">
                <div class="icon-credit-card"></div>
                <a href="{% url 'ajustes_1' %}">Gastos del dia</a>
            </div>
            {% if user.is_superuser %}
            <div class="nav-item">
                <div class="icon-cog"></div>
                <a href="{% url 'materiales' %}">Panel de Control</a>
            </div>
            {% endif %}
           
        </nav>

        <div class="help">
            <p>¿Necesitas ayuda?<br>Revisa la documentación</p>
            <button>DOCUMENTACIÓN</button>
        </div>
    </div>


    <header>
        <h1>Dashboard</h1>
        <div class="search">
            <span>{{ current_date }}</span>
            <a href="#"><div class="icon-user"></div></a>
        </div>
        <div id="cerrar">
            <span>{% now "Y-m-d H:i" %} </span>
            <form method="POST" action="{% url "logout" %}">
                {% csrf_token %}
                <button type="submit" class="btn-logout">Cerrar sesión</button>
            </form>
        </div>
    </header>


    <div class="container">


        <div class="cont_1">
            <h1>Transacciones del {{ today }}</h1>

            {% if show_page %}
                <table class="table">
                    <thead>
                        <tr>
                                                  <th>Material</th>
                            <th>Tipo de Transacción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in show_page %}
                            <tr>
           
                                <td>{{ detail.Material.Material_Type }}</td>
                                <td>{{ detail.Transaction.Transaction_Type }}</td>
                                <td>{{ detail.Quantity }}</td>
                                <td>{{ detail.Price }}</td>
                                <td>{{ detail.Subtotal }}</td>
                                <td>{{ detail.Transaction.Date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay transacciones para el día de hoy.</p>
            {% endif %}
                
            </table>

            <div class="pagination">
                <span class="step-links">
                    {% if show_page.has_previous %}
                        <a href="?page={{ show_page.previous_page_number }}" class="page-link">Anterior</a>
                    {% endif %}
    
                    {% for page_num in show_page.paginator.page_range %}
                        {% if page_num == show_page.number %}
                            <span class="current page-link active">
                                {{ page_num }}
                            </span>
                        {% else %}
                            <a class="page-link" href="?page={{ page_num }}">
                                {{ page_num }}
                            </a>
                        {% endif %}
                    {% endfor %}
    
                    {% if show_page.has_next %}
                        <a class="page-link" href="?page={{ show_page.next_page_number }}">Siguiente</a>
                    {% endif %}
                </span>
            </div>


            <!--MAteriales___________________________________-->
            <h1>Materiales Disponibles</h1>
                {% if materials %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre del Material</th>
                                <th>Stock Disponible</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in materials %}
                                <tr>
                                    <td>
                                        {% if material.image %}
                                            <img class="imagen" src="{{ material.image.url }}" alt="{{ material.Material_Type }}" width="50" height="50">
                                        {% else %}
                                            Sin imagen
                                        {% endif %}
                                    </td>
                                    <td>{{ material.Material_Type }}</td>
                                    <td>{{ material.Stock }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay materiales disponibles.</p>
                {% endif %}







        </div>





        <div class="cont_2">


            <section class="contenido_2">
                <h2>Stats</h2>
                <canvas id="cashFlowChart"></canvas>
                <div class="info-containers">
                    <div class="info-box">
                        <h3>Material más Comprado del Día</h3>
                        {% if material_mas_comprado %}
                            <p><span>{{ material_mas_comprado.Material__Material_Type }}</span> - <span>{{ material_mas_comprado.total }} kg</span></p>
                        {% else %}
                            <p>Cobre 1ra</p>
                        {% endif %}
                    </div>
            
                    <div class="info-box">
                        <h3>Producto más Vendido</h3>
                        {% if material_mas_vendido %}
                            <p><span>{{ material_mas_vendido.Material__Material_Type }}</span> - <span>{{ material_mas_vendido.total }} kg</span></p>
                        {% else %}
                            <p>Aluminio</p>
                        {% endif %}
                    </div>
            
                    <div class="info-box">
                        <h3>Producto con Más Stock</h3>
                        {% if producto_mas_stock %}
                            <p><span>{{ producto_mas_stock.Material_Type }}</span> - <span>{{ producto_mas_stock.stock }} kg</span></p>
                        {% else %}
                            <p>No hay datos</p>
                        {% endif %}
                    </div>
                </div>
      
                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script src="{% static "dashboard/js/char.js" %}"></script>
                
            </section>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{% static "dashboard/js/carga.js" %} "></script>
</body>