<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de control</title>

    {%load static%}

    <link rel="stylesheet" href="{%static 'main_app/css/panel_control/panel.css'%}">


</head>
    <body>
        <div class="sidebar">
            <div class="logo">
                <img src="../img/tnt_logo.png" alt="tnt_logo">
            </div>
            
            <nav>
                <div class="nav-item">
                    <div class="icon-home"></div>
                    <a href="#" class="active">Dashboard</a>
                </div>
            <div class="nav-item">
                    <div class="icon-banknote"></div>
                    <a href="#">Compra - venta</a>
            </div>
            <div class="nav-item">
                    <div class="icon-credit-card"></div>
                    <a href="#">Ajuste de caja</a>
            </div>
            <div class="nav-item">
                    <div class="icon-cog"></div>
                    <a href="#">Administración</a>
            </div>
            </nav>

            <div class="help">
                <p>Need help?<br>Please check our docs</p>
                <button>DOCUMENTATION</button>
            </div>
        </div>
        <div class="main-content">
            <header>
                <h1>Panel de Control</h1>
                <div class="search">
                    <input type="text" placeholder="Type here...">
                    <span>10/20/2024 12:26 PM</span>
                    <a href="#">Sign In</a>
                    <a href="#"><img src="settings-icon.png" alt="Settings"></a>
                </div>
            </header>
            <div class="tabs">
                <button>Materiales</button>
                <button>Transacciones</button>
                <button class="active">Personal</button>
                <button>Tab</button>
                <button>Tab</button>
            </div>
            <section class="personnel">
                <h2>Ajustes de Personal</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Personal</th>
                            <th>Function</th>
                            <th>Estatus</th>
                            <th>Fecha de contratación</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="user1.png" alt="Juan Lopez">
                                <div>
                                    <strong>Juan López</strong><br> juan@lopez.com
                                </div>
                            </td>
                            <td>
                                <strong>Encargado</strong><br> Planta
                            </td>
                            <td><span class="estatus activo">Activo</span></td>
                            <td>14/06/21</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="user2.png" alt="Alexa Perez">
                                <div>
                                    <strong>Alexa Perez</strong><br> alexa@perez.com
                                </div>
                            </td>
                            <td>
                                <strong>Encargado</strong><br> Caja
                            </td>
                            <td><span class="status offline">Offline</span></td>
                            <td>14/06/21</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
            
                    </tbody>
                </table>
            </section>
            <footer>
                <p>© 2024, made by bola de huevones</p>
                <div>
                    <a href="#">Creative Tim</a> | 
                    <a href="#">Simmpple</a> |
                    <a href="#">Blog</a> |
                    <a href="#">License</a>
                </div>
            </footer>
        </div>
    </body>
</html>
