* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    color: #333;
}



.main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #344E41;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search a {
    text-decoration: none;
    color: #2D3748;
}



footer {
    text-align: center;
    margin-top: 230px;
    font-size: 14px;
    color: #999;
}

footer div a {
    color: #2a663c;
    text-decoration: none;
    margin: 0.5px
}
h3{
    font-size: 1rem;
}


.contenido{
    display: flex;
    gap: 20px;
    background-color: whitesmoke;

}

/*Estilos para la mitad izquierda de la ventana*/
.left-half
{
    flex: 47%;
}

/*Estilos del panel con el dinero de caja*/
.panel_dinero
{
    background-color: #a3b18a;
    width: 97%;
    height: 40%;
    padding: 20px;
    display: flex;  
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #073f07;
    font-family: Arial, sans-serif; 
    margin-bottom:1px;
    margin-top: 1%;
   
}

.icono
{
    height: 45%;
}

.icono img
{
    height: 100%;
}



.dinero_en_caja
{
    font-weight: bold;
    font-size: 150%;
    color: black;
}

.caja_total
{
    margin-top:1.3%;
    color: black;
    font-weight: bold;
    font-size: 100%;
}

.caja_cantidad
{
    font-weight: bolder;
    margin-top: 1.5%;
    font-size: 200%;
}
/*Fin de estilos para el panel con el dinero de caja*/

/* Estilos para los botones de agregar*/
.anadir_transacciones
{
    background-color: whitesmoke; /* Herramienta para el desarrollo, ayuda a ver el tamano de la seccion*/
    height: 20%;
}

anadir transacciones h2
{
    font-weight: bold;
    font-size:30%;
}

.anadir_botones
{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    height: 40%;
    width: 90%;
}

.boton_añadir
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 4%;
}

.boton_añadir button
{
    width:22%;
    height:90%;

}
.boton_añadir img
{
    border-radius: 20%;
    width: 100%;
    height: 100%;
    border-color: white;
}


.boton_añadir h3{
    text-align: left;
    padding-left: 0.5rem;
    font-size: 20px;
}
/* Fin de estilos para los botones de anadir*/

/*Estilos para el historial de gastos e inversiones*/
.historial
{
    background-color: white;
    display: flex;  
    flex-direction: column;
    border-radius: 10px;
    width: 29rem;

}

.historial h3
{
    color: #2D3748;
    width: 200px;
    margin-left: 3%;
    margin-top: 2%;
    display: flex;
    width: 80%;
    margin-bottom: 2%;
}

.lista_historial
{
    display: flex;
    gap: 40px;
}

.elemento_historial
{
    width: 95%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin-left: 5%;

}

.elemento_historial img
{
    border-radius: 20%;
    width: 30px;
    height: 30px;
    border-color: white;
}

.fecha
{
    font-size: small;
    font-weight: bold;
}

.monto_elemento_historial
{
    color: red;
}

.detalles_ajustes
{
    background-color: white;
    margin-left: 50%;

}
/*Estilos para la mitad derecha de la ventana*/
.right-half
{
    flex: 53%;
    background-color: white;
    border-radius: 3%;
}

.right-half h2
{
    margin-top: 3%;
    margin-left: 5%;
    color: #344E41;
    margin-bottom: 5%;
}

.tipo_transaccion
{
    width: 90%;
    margin-left: 4%;
    height:3.5%;
    display: flex;
}

.tipo_transaccion p
{
    background-color: #A2B18A;
    border-radius: 5%;
    text-align: center;
    color: black;
    width:40%;
    font-weight: bold;
}

.tipo_transaccion input
{
    margin-left: 9%;
    font-weight: bold;
}







.descripcion_transaccion
{
    margin-left: 4%;
    width: 92%;
    height: 50%
}

.descripcion_transaccion p
{
    background-color: #588157;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.descripcion_transaccion input
{
    height: 90%;
    background-color: #DAD8CC;
    width:100%;
    color: black;
    padding-left: 2.5%;
    font-size: 120%;
    border: white;
}

.descripcion_transaccion input::placeholder
{
    color: black;
    font-weight: bold;
}

.total
{
    margin-left: 4%;
    color: #2D3748;
    margin-top: 1%;
    height: 20%;
    width: 92%;
    background-color: white;
}

.total h2
{
    font-size: 150%;
    font-weight: bolder;
    margin-left: -0.7%;
}


.total span
{
    color: #008f39;
    font-weight: bold;
    font-size: 100%;
}
.total input
{
    margin-top: 0.5%;
    height: 20%;
    color: #008f39;
    font-weight: bold;
    padding-left: 2%;
    font-size: 100%;
}

.total input::placeholder
{
    color: #008f39;
    font-weight: bold;
    padding-left: 2%;
    font-size: 100%;
}

.total button
{
    width: 25%;
    margin-left: 20%;
    border-radius: 5%;
    background-color: #395a3f;
    color: white;
    height: 30%;
}


