{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        {% block title %}
        Panel de Control | Cortes
        {% endblock title %}
    </title>
    
    <link rel="stylesheet" href="{% static "panel_control/css/blocks.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'panel_control/css/personal.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static "panel_control/img/tnt_logo.jpg" %}">
        </div>

        <nav>
            <div class="nav-item" {% if active_item == 'panelcontrol' %}active{% endif %}>
                <a href="{% url "dashboard" %}">Dashboard</a>
            </div>
            <div class="nav-item" {% if active_item == 'panelcontrol' %}active{% endif %}>
                <div class="icon-banknote"></div>
                <a href="{% url "cv" %}">Compra - venta</a>
            </div>
            <div class="nav-item" {% if active_item == 'panelcontrol' %}active{% endif %}>
                <a href="{% url "ajustes_1" %}">Ajuste de caja</a>
            </div>
            <div class="nav-item" {% if active_item == 'panelcontrol' %}active{% endif %}>
                <a href="{% url "panel_control" %}" class="active">Panel de Control</a>
            </div>
        </nav>

        <div class="help">
            <p>¿Necesitas ayuda?<br>Revisa la documentación</p>
            <button>DOCUMENTACIÓN</button>
        </div>
    </div>
    <div class="main-content">
        <div id="cabecera">
            <header>
                {% block section %}
                <h1>Panel de Control</h1>
                {% endblock section %}
                {% block buscador %}
                
                {% endblock buscador %}
            </header>
            <div class="tabs">
                <button class="tab {% if active_tab == 'materials' %}active{% endif %}"><a href="{% url "materiales" %}">Materiales</a></button>
                <button class="tab {% if active_tab == 'transactions' %}active{% endif %}"><a href="{% url "transacciones" %}">Transacciones</a></button>
                <button class="tab {% if active_tab == 'personnel' %}active{% endif %}"><a href="{% url "personal" %}">Personal</a></button>
                <button class="tab {% if active_tab == 'reports' %}active{% endif %}"><a href="{% url "cortes" %}">Cortes</a></button></div>
            <h2>
                {% block subsection %}
                    Historial de Cortes
                {% endblock subsection %}
            </h2>
            <div id="botones">
                {% block botones %}
                    <button class="btns" id="filter-btn">Filter</button>
                    <button class="btns" id="add-btn">Añadir</button>
                {% endblock botones %}
            </div>
        </div>
        
        <section class="transactions-table">
            {% block content_box %}

            {% endblock content_box %}
        </section>
        <footer>
            <p>© 2024, made by bola de huevones</p>
        </footer>
    </div>
</body>
</html>