{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Panel de Control | Cortes
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "panel_control/css/blocks.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static "panel_control/img/tnt_logo.jpg" %}">
        </div>

        <nav>
            <div class="nav-item">
                <div class="icon-home"></div>
                <a href="{% url "dashboard" %}">Dashboard</a>
            </div>
           <div class="nav-item">
                <div class="icon-banknote"></div>
                <a href="{% url "compra_1" %}">Compra - venta</a>
           </div>
           <div class="nav-item">
                <div class="icon-credit-card"></div>
                <a href="{% url "ajustes_1" %}">Ajuste de caja</a>
           </div>
           <div class="nav-item" >
                <div class="icon-cog"></div>
                <a href="{% url "panel_control" %}" class="active">Panel de Control</a>
           </div>
        </nav>

        <div class="help">
            <p>¿Necesitas ayuda?<br>Revisa la documentación</p>
            <button>DOCUMENTACIÓN</button>
        </div>
    </div>
    <div class="main-content">
        <div id="cabecera">
            <header>
                <h1>
                    {% block section %}
                    Panel de Control
                    {% endblock section %}
                </h1>
                <div class="search">
                    <input type="text" placeholder="Buscar...">
                    <span>10/20/2024 12:26 PM</span>
                    <a href="#"><div class="icon-user"></div></a>
                </div>
            </header>
            <div class="tabs">
                <button><a href="../materiales/materiales.html">Materiales</a></button>
                <button><a href="../transacciones/transacciones.html">Transacciones</a></button>
                <button><a href="../personal/personal.html"></a>Personal</button>
                <button class="active"><a href="../cortes/cortes.html"></a>Cortes</button>
            </div>
            <h2>
                {% block subsection %}
                    Historial de Cortes
                {% endblock subsection %}
            </h2>
            <div id="botones">
                <button class="btns" id="filter-btn">Filter</button>
                <button class="btns" id="add-btn">Añadir</button>
            </div>
        </div>
        
        <section class="transactions-table">
            {% block content_box %}

            {% endblock content_box %}
        </section>
        <footer>
            <p>© 2024, made by bola de huevones</p>
        </footer>
    </div>
</body>
</html>