*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 20rem 40% 35%;
    grid-gap: 2rem;
}

.container div{
    background-color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;

}

/*________________Estilos contenedor 1_______________________________________________*/

/* Estilo general del contenedor */
#cont_1 {


    margin-left: 1rem;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    position: sticky;
    top: 1rem;
    height: 18rem;


}

#cont_1 ul li a{
    text-decoration: none;
    color: gray;
    display: block;
}

/* Título */
#cont_1 h2 {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #2d2d2d;
    text-align: center;
}

/* Línea divisoria */
#cont_1 hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Lista de opciones */
#cont_1 ul {
    list-style: none;
    padding: 0;
}

/* Elementos de la lista */
#cont_1 ul li {

    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #2d2d2d;
    font-weight: bold;
    height: 1.5rem;
}



#cont_1 ul li:hover {
    background-color: #e0e7e9;

}


#cont_1 ul li.active {
    background-color: #e0e7e9;
    color: #2b6a5e;
}

/*________________Estilos contenedor 2_______________________________________________*/




/*_______________Estilos contenedor 3________________________________________________*/



/*________________AJUSTES DE LOS TOP___________________*/

#cont_t_1{
    background-color: whitesmoke    ;
    grid-gap: 0rem;
    margin-top: 0rem;
}

#cont_t_2{
    background-color: whitesmoke    ;
    grid-gap: 0rem;
    margin-top: 0rem;

}

#cont_t_3{
    background-color: whitesmoke    ;
    grid-gap: 0rem;
    margin-top: 0rem;
    


}