* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    color: #333;
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
}

.container {
    grid-template-columns: 70% 30%;
    gap: 1rem;
    display: grid;

}


.cont_1{
    margin-left: 18rem;
}


header{
    margin-left: 18rem;
    padding-top: 2rem;
}

.contenido {
    background-color: #F8F9FA;
    padding: 20px;
    flex: 2; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenido_2 {
    background-color:#F8F9FA;
    padding: 20px;
    flex: 1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search a {
    text-decoration: none;
    color: #2D3748;
}

.tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.tabs button {
    font-family: "Outfit", serif;
    font-weight: 600;
    width: 150px;
    padding: 10px 30px;
    background-color: rgba(218, 215, 205, 0.6);
    color: #344E41;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tabs button.active {
    background: rgba(163, 177, 138, 0.6);
    color: #2D3748;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #2a663c;
    padding: 15px 0;
    margin-top: auto; 
    width: 100%;
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

.transaction-table th, .transaction-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.transaction-table th {
    background-color: #3A5A40;
    color: white;
}

.transaction-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.transaction-table tbody tr:hover {
    background-color: #ddd;
}

.contenedor_contenido_2 {
    background-color: #3A5A40;
}

.info-containers {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.info-box {
    flex: 1;
    background-color: #3A5A40;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-box h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.info-box span {
    display: inline-block;
    font-weight: normal;
    color: #ffffff;
}

.info-containers {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.info-box {
    flex: 1;
    background-color: #3A5A40;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.info-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 20px;
    font-weight: bold;
}