<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastos del Dia</title>

    {%load static%}

    {% block head %}

        <link rel="stylesheet" href="{%static 'ajustes_caja/css/caja.css' %}">
        <script src="{% static 'ajustes_caja/js/caja.js' %}"></script>
        <script src="{% static 'ajustes_caja/js/script.js' %}"></script>
        <script>
            const dineroEnCaja = {{ dinero_en_caja }};
        </script>
        
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    {% endblock %}



    <link rel="stylesheet" href="{% static 'panel_control/css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'panel_control/css/personal.css' %}">
    <link rel="stylesheet" href="{% static 'appcompra/css/compra.css' %}">
    

</head>
<body>
    

    <div class="sidebar">
        <div class="logo">
            <img src="{%static 'ajustes_caja/img/tnt.jpeg' %}" alt="TNT">
        </div>
        <nav>
            <div class="nav-item">
                <div class="icon-home"></div>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </div>
            <div class="nav-item">
                <div class="icon-banknote"></div>
                <a href="{% url 'cv' %}">Compra - venta</a>
            </div>
            <div class="nav-item">
                <div class="icon-credit-card"></div>
                <a href="{% url 'ajustes_1' %}" class="active">Gastos del dia</a>
            </div>
            {% if user.is_superuser %}
            <div class="nav-item" >
                <div class="icon-cog"></div>
                <a href="{% url 'materiales' %}">Panel de Control</a>
            </div>
            {% endif %}
        </nav>
        <div class="help">
            <p>¿Necesitas ayuda?<br>Revisa la documentación</p>
            <button>DOCUMENTACIÓN</button>
        </div>
    </div>
    <div class="hidden">
        <div class="centrado" id="cargando">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="main-content">
            <header>
                <h1>Gastos del Dia</h1>
                <div>
                    <span>{% now "Y-m-d H:i" %} </span>
                    <form method="POST" action="{% url "logout" %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-logout">Cerras sesión</button>
                    </form>
                </div>
            </header>
            <section class="contenido">
                <div class="left-half">
                    <div class="panel_dinero">
                        <div class="icono">
                            <img src="{%static 'ajustes_caja/img/cartera.png' %}" alt="💼">
                        </div>
                        <p class="dinero_en_caja">Dinero en caja:</p>
                        <p class="caja_total">Total:</p>
                        <p class="caja_cantidad">+ {{ dinero_en_caja }}</p>
                    </div>


                    <!--paginator___________________________________-->



                    <!--paginator___________________________________-->







                <div class="right-half">
                    <div class="tipo_transaccion">
                        {% if error_message %}
                            <div class="error-message" style="color: red; font-weight: bold; margin-top: 10px;">
                                {{ error_message }}
                            </div>
                        {% endif %}

                
                        <form action="{% url 'ajustes_1' %}" method="post">
                            {% csrf_token %}
                            <div class="opciones">
                                <div class="transaccion-row">
                                    <select id="tipo_operacion" name="tipo_operacion" required>
                                        <option value="" disabled selected>Operacion</option>
                                        <option value="INVESTMENT">Inversión</option>
                                        <option value="EXPENSE">Gasto</option>
                                    </select>
                                    <input type="number" id="monto" name="monto" min="0"  placeholder="Monto" required>
                                    <textarea id="descripcion" name="descripcion" placeholder="Añadir descripción" required></textarea>
                                    <button type="submit" id="realizar_compra">Realizar</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
                <div id="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hora</th>
                                <th>Usuario</th>
                                <th>Tipo operacion</th>
                                <th>Total</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            {% for dato in show_page %}
                            
                            <tr>
                                <td>{{ dato.Date|date:"H:i" }}</td>
                                <td>{{ dato.User }}</td>
                                <td>{{ dato.get_Transaction_Type_display }}</td>
                                <td>{{ dato.Total }}</td>
                                <td>{{ dato.Description }}</td>
    
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No hay datos para el día de hoy.</td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if show_page.has_previous %}
                                <a href="?page={{ show_page.previous_page_number }}" class="page-link">Anterior</a>
                            {% endif %}
            
                            {% for page_num in show_page.paginator.page_range %}
                                {% if page_num == show_page.number %}
                                    <span class="current page-link active">
                                        {{ page_num }}
                                    </span>
                                {% else %}
                                    <a class="page-link" href="?page={{ page_num }}">
                                        {{ page_num }}
                                    </a>
                                {% endif %}
                            {% endfor %}
            
                            {% if show_page.has_next %}
                                <a class="page-link" href="?page={{ show_page.next_page_number }}">Siguiente</a>
                            {% endif %}
                        </span>
                    </div>
            
                </div>

    
    
            </section>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{% static 'ajustes_caja/js/carga.js' %} "></script>
    
    
</body>
</html>