<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes Caja</title>

    {%load static%}

    {% block head %}

        <link rel="stylesheet" href="{%static 'ajustes_caja/css/caja.css' %}">
        <script src="{% static 'ajustes_caja/js/caja.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    {% endblock %}



    <link rel="stylesheet" href="{% static 'panel_control/css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'panel_control/css/personal.css' %}">
    <link rel="stylesheet" href="{% static 'appcompra/css/compra.css' %}">
    

</head>
<body>


    <div class="sidebar">
        <div class="logo">
            <img src="{%static 'ajustes_caja/img/tnt.jpeg' %}" alt="TNT">
          </div>
        <nav>
            <div class="nav-item">
                <div class="icon-home"></div>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </div>
           <div class="nav-item">
                <div class="icon-banknote"></div>
                <a href="{% url 'cv' %}">Compra - venta</a>
           </div>
           <div class="nav-item">
                <div class="icon-credit-card"></div>
                <a href="{% url 'ajustes_1' %}">Ajuste de caja</a>
           </div>
           <div class="nav-item" >
                <div class="icon-cog"></div>
                <a href="{% url 'materiales' %}" class="active">Panel de Control</a>
           </div>
        </nav>

        <div class="help">
            <p>¿Necesitas ayuda?<br>Revisa la documentación</p>
            <button>DOCUMENTACIÓN</button>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h1>AJUSTES DE CAJA</h1>
            <div class="search">
                <input type="text" placeholder="Buscar...">
                <span>10/20/2024 12:26 PM</span>
                <a href="#"><div class="icon-user"></div></a>
            </div>
        </header>

        <section class="contenido">
            <div class="left-half">
    
                <div class="panel_dinero">
                    <div class="icono">
                        <img src="{%static 'ajustes_caja/img/cartera.png' %}" alt="💼">
                    </div>
                    <p class="dinero_en_caja">Dinero en caja:</p>
                    <p class="caja_total">Total:</p>
                    <p class="caja_cantidad">+ {{ box_money.final_money }}</p>
                </div>

  

            <div class="right-half">
                <h2>Detalles de transaccion: </h2>
                <div class="tipo_transaccion">
                    <p>Tipo de transaccion</p>
                    <input type="text" id="transaccion_seleccionada" readonly>
                </div>  
                <br>
                <div class="descripcion_transaccion">
                    <p>Descripcion</p>
                    <input type="text" id="descripcion" name="entrada_descripcion" placeholder="Añade una descripcion">
                </div>
               
                <div class="total">
                    <h2>Total: </h2>
                        <span>$</span>
                        <input type="number" min="0" step="10">
                        <a href="pop_1.html">
                            <button>Guardar</button>
                        </a>
                        
                </div>
        
            </div>

            <div id="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Dinero Inicial</th>
                            <th>Gastado</th>
                            <th>Obtenido</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dato in money %}
                        <tr>
                            <td>{{ dato.Day }}</td>
                            <td>{{ dato.Initial_Money }}</td>
                            <td>{{ dato.Spent }}</td>
                            <td>{{ dato.Obtained }}</td>
                            <td>{{ dato.Final_Money }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No hay datos para el día de hoy.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        
            </div>


        </section>
    </div>



    
</body>
</html>