<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajustes Caja</title>

    {%load static%}

    {% block head %}

        <link rel="stylesheet" href="{%static 'ajustes_caja/css/caja.css' %}">
        <script src="{% static 'ajustes_caja/js/caja.js' %}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    {% endblock %}



    <link rel="stylesheet" href="{% static 'panel_control/css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'panel_control/css/personal.css' %}">
    <link rel="stylesheet" href="{% static 'appcompra/css/compra.css' %}">
    

</head>
<body>
    

    <div class="sidebar">
        <div class="logo">
            <img src="{%static 'ajustes_caja/img/tnt.jpeg' %}" alt="TNT">
        </div>
        <nav>
            <div class="nav-item">
                <div class="icon-home"></div>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </div>
            <div class="nav-item">
                <div class="icon-banknote"></div>
                <a href="{% url 'cv' %}">Compra - venta</a>
            </div>
            <div class="nav-item">
                <div class="icon-credit-card"></div>
                <a href="{% url 'ajustes_1' %}">Ajuste de caja</a>
            </div>
            <div class="nav-item" >
                <div class="icon-cog"></div>
                <a href="{% url 'materiales' %}" class="active">Panel de Control</a>
            </div>
        </nav>
        <div class="help">
            <p>¿Necesitas ayuda?<br>Revisa la documentación</p>
            <button>DOCUMENTACIÓN</button>
        </div>
    </div>
    <div class="hidden">
        <div class="centrado" id="cargando">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="main-content">
            <header>
                <h1>Ajustes de Caja</h1>
                <div class="search">
                    <input type="text" placeholder="Buscar...">
                    <span>{{ hora_actual }}</span>
                    <a href="#"><div class="icon-user"></div></a>
                </div>
            </header>
            <section class="contenido">
                <div class="left-half">
                    <div class="panel_dinero">
                        <div class="icono">
                            <img src="{%static 'ajustes_caja/img/cartera.png' %}" alt="💼">
                        </div>
                        <p class="dinero_en_caja">Dinero en caja:</p>
                        <p class="caja_total">Total:</p>
                        <p class="caja_cantidad">+ {{ box_money.final_money }}</p>
                    </div>
                <div class="right-half">
                    <div class="tipo_transaccion">
                        <form action="">
                            <div class="opciones">
                                <div class="transaccion-row">
                                    <select id="tipo_operacion" name="tipo_operacion">
                                        <option value="" disabled selected>Operacion</option>
                                        <option value="inversion">Inversion</option>
                                        <option value="gasto">Gasto</option>
                                    </select>
                                    <input type="number" id="cantidad" min="0" step="10" placeholder="Monto">
                                    <textarea id="descripcion" placeholder="Añadir descripción"></textarea>
                                    <button type="button" id="realizar_compra" disabled>Realizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div id="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hora</th>
                                <th>Usuario</th>
                                <th>Tipo operacion</th>
                                <th>Total</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            {% for dato in in_ga %}
                            
                            <tr>
                                <td>{{ dato.Date|date:"H:i" }}</td>
                                <td>{{ dato.User }}</td>
                                <td>{{ dato.get_Transaction_Type_display }}</td>
                                <td>{{ dato.Total }}</td>
                                <td>{{ dato.Description }}</td>
    
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No hay datos para el día de hoy.</td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
            
                </div>
    
    
            </section>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{% static 'ajustes_caja/js/carga.js' %} "></script>
    
    
</body>
</html>